/* ###################
    HOME SLIDER
################### */

.image-layer1 {
    background-image: url(../images/slides/slide-image.jpg);
}

.image-layer2 {
    background-image: url(../images/slides/slide-image.jpg);
}

.image-layer3 {
    background-image: url(../images/slides/slide-image.jpg);
}


.patter-box-bg-4 {
    background-image: url(../images/pattern/pattern-bg-4.png);
}

.pattern-bg-7 {
    background-image: url(../images/pattern/pattern-bg-7.png);
}

.bottom-divider {
    height: 2px;
    background: #008000;
}

.top-divider {
    height: 4px;
    background: #008000;
}

@media only screen and (min-width: 992px) and (max-width: 1000px) {
    .main-content {
        position: relative;
        margin-bottom: 60% !important;
        z-index: 20;
        background-color: #ffffff;
        box-shadow: 4px 3px 3px 0px rgba(0, 0, 0, 0.7);
    }

    .footer-area {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1110px) {
    .main-content {
        position: relative;
        margin-bottom: 45% !important;
        z-index: 20;
        background-color: #ffffff;
        box-shadow: 4px 3px 3px 0px rgba(0, 0, 0, 0.7);
    }

    .footer-area {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

@media only screen and (min-width: 1111px) and (max-width: 1210px) {
    .main-content {
        position: relative;
        margin-bottom: 40% !important;
        z-index: 20;
        background-color: #ffffff;
        box-shadow: 4px 3px 3px 0px rgba(0, 0, 0, 0.7);
    }

    .footer-area {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

@media only screen and (min-width: 1211px) and (max-width: 1510px) {
    .main-content {
        position: relative;
        margin-bottom: 35% !important;
        z-index: 20;
        background-color: #ffffff;
        box-shadow: 4px 3px 3px 0px rgba(0, 0, 0, 0.7);
    }

    .footer-area {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}


@media only screen and (min-width: 1511px) and (max-width: 1740px) {
    .main-content {
        position: relative;
        margin-bottom: 30% !important;
        z-index: 20;
        background-color: #ffffff;
        box-shadow: 4px 3px 3px 0px rgba(0, 0, 0, 0.7);
    }

    .footer-area {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

@media only screen and (min-width: 1741px) {
    .main-content {
        position: relative;
        margin-bottom: 25% !important;
        z-index: 20;
        background-color: #ffffff;
        box-shadow: 4px 3px 3px 0px rgba(0, 0, 0, 0.7);
    }

    .footer-area {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

/**************************************
 *    Blog Section Style
 *************************************/

 .blog-area .section-title {
	text-align: center;
    margin-bottom: 45px;
}
.blog-area .single-blog {
	background: #ffffff;
	-webkit-box-shadow: 0 3px 15px -5px rgba(68, 107, 138, 0.3);
	box-shadow: 0 3px 15px -5px rgba(68, 107, 138, 0.3);
	border-radius: 3px;
	margin-top: 35px;
	overflow: hidden;
}

.blog-area .post-img {
	position: relative;
	overflow: hidden;
}

.blog-area .single-blog img {
	-webkit-transition: all .5s;
	transition: all .5s;
}

.blog-area .single-blog:hover img {
	-webkit-filter: none;
	filter: none;
	-webkit-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

.blog-area .single-blog .blog-content {
	padding: 25px 25px;
	text-align: left;
}

.blog-content .blog-date {
	margin-bottom: 15px;
}

.blog-content .blog-date .blog-list li {
	display: inline-block;
}

.blog-content .blog-date .blog-list li h6 {
	font-size: 13px;
	color: #777;
	display: inline-block;
}

.blog-content .blog-date .blog-list li .blog-inline-sep {
	padding: 0 5px;
	font-size: 12px;
	color: #333;
}

.blog-content .blog-date .blog-list li a {
	font-size: 13px;
	color: #008000;
	font-weight: 600;
	display: inline-block;
}

.blog-area .single-blog .blog-content h3 a {
	font-size: 18px;
	font-weight: 700;
	color: #333;
	line-height: 1.5;
	margin-bottom: 10px;
	display: block;
}

.blog-area .single-blog .blog-content h3 a:hover {
	color: #008000;
	text-decoration: none !important;
}

.blog-bottom-text-link {
	margin-top: 10px;
}

.single-blog .blog-content .blog-bottom-text-link a {
	color: #5f5f5f;
	display: inline-block;
	font-size: 16px;
	margin-top: 15px;
	display: block;
	font-weight: 700;
	letter-spacing: 0.7px;
}

.single-blog .blog-content .blog-bottom-text-link a:hover {
	color: #008000;
	text-decoration: none !important;
}

.bg-gray {
	background-color: #fbfbfb;
}


.alpha-list {
    list-style: none;    
    padding: 0;
}
.alpha-list li {
    margin: 0;
    padding-left: 1.5em;
    position: relative;
}
.alpha-list li:after {
    content: '';
    height: 0.4em;
    width: 0.4em;
    background: #008000;
    display: block;
    position: absolute;
    transform: rotate(45deg);
    top: 0.25em;
    left: 0;
}

.swal-button {
    background-color: #008000 !important;
}

.bg-secondary {
    background-color: #F6F6F6 !important;
}

.bg-primary {
    background-color: #008000 !important;
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us .box {
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
  }
  
  .why-us .box span {
    display: block;
    font-size: 28px;
    font-weight: 700;
    color: #008000;
  }
  
  .why-us .box h4 {
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    margin: 20px 0;
    color: #2a2a2a;
  }
  
  .why-us .box p {
    color: #626161;
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
  
  .why-us .box:hover {
    background: #eeeeee;
    padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
  } 

/*--------------------------------------------------------------
# custom-list
--------------------------------------------------------------*/
.custom-list {
    list-style: none;    
    border-radius: 2px;
}
.custom-list li {
    padding: 10px 0 10px 0;
}
.custom-list li:nth-child(odd) {
    text-align: left;
    border-left: 10px solid #008000;
    padding-left: 4px;
    border-bottom: 10px solid #0d9e0d;
}
.custom-list li:nth-child(even) {
    text-align: right;
    border-right: 10px solid #008000;
    padding-right: 4px;
    border-bottom: 10px solid #0d9e0d;
}

.btn-outline-primary {
    color: #008000;
    border-color: #008000;
}

.btn-outline-primary:hover {
    color: #ffffff;
    border-color: #008000;
    background-color: #008000;
}

